@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Righteous&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
}

.main {
    width: 100vw;
    height: 100vh;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    
}

#proxima-tela {
    display: none;
}

h1 {
    font-size: 50px;
}

h3 {
    /* font-size: 20px; */
}

#btn-iniciar {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#btn-iniciar svg {
    width: 20px;
}

.botao {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

#btn-iniciar:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

/* segunda tela */

.primeira-tela {
    display: none;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.titulo {
    width: 50%;
}

.titulo h1 {
    font-size: 36px;
    font-family: Righteous, sans-serif;
    font-weight: 100;
}

.titulo h2 {
    width: 80%;
    font-size: 20px;
    font-family: Lexend, sans-serif;
    font-weight: 400;
}

.btns {
    margin-top: 40px;
}

.btns button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calc-gif {
    width: 400px;
}

/* terceira parte */
.desafios {
    width: 100vw;
    height: 100vh;
    background-color: #F6E6D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: none;

}
#totalQuestions{
    margin-left: 00px;
    margin-bottom: 15px;
}
#total{
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 12px;
}
.quis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.resposta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.positivo,
.negativo {
    cursor: pointer;
    transition: all 3s ease-in-out;
}
.positivo:hover ,
.negativo:hover {
    border: 1px solid #0056b3;
    transition: all 0.3s ease-in-out;

}

.card {
    width: 300px;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 10px;
}

.heart{
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

#msg{
    padding: 5px 10px;
    background-color: green;
    color: white;
    border-radius: 10px;
    display: none;
}

.modal-box {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}
.venceu {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.modal-box h2 {
    font-size: 24px;
    margin-top: 10px;
}
.venceu h2 {
    font-size: 24px;
    margin-top: 10px;
}

.modal-box h3 {
    font-size: 18px;
    margin-top: 10px;
}
.venceu h3 {
    font-size: 18px;
    margin-top: 10px;
}

.modal-box .buttons {
    margin-top: 20px;
}
.venceu .buttons {
    margin-top: 20px;
}

.modal-box .buttons button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s;
}
.venceu .buttons button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s;
}

.modal-box .buttons button:hover {
    background-color: #2980b9;
}
.venceu.buttons button:hover {
    background-color: #2980b9;
}

.close-btn {
    background-color: #e74c3c;
}

.close-btn:hover {
    background-color: #c0392b;
}
