@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&family=Righteous&display=swap');

body {
    font-family: Arial, sans-serif;
    margin: 0;
}
.confetti-container {
    position: absolute;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }

.confetti {
    position: absolute;
    width: 10px;
    height: 10px;
    background-color: #ff00ff;
    border-radius: 50%;
    animation: confetti-fall 3s ease-in-out infinite;
}

@keyframes confetti-fall {
    0% {
        transform: translate(0, -50px) rotate(0deg);
    }
    100% {
        transform: translate(200vw, 200vh) rotate(720deg);
    }
}

.main {
    width: 100vw;
    height: 100vh;
    background-image: url(./background.jpg);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 100vh;
    display: flex;
    text-align: center;
    justify-content: center;
    align-items: center;
    /* display: none; */
}

#proxima-tela {
    display: none;
}

h1 {
    font-size: 50px;
}

h3 {
    /* font-size: 20px; */
}

#btn-iniciar {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    display: none;
}

#btn-iniciar svg {
    width: 20px;
}

.nome{
    margin-top: 50px;
}
.nome input{
    padding: 10px;
    border-radius: 6px;
    border: 1px solid black;
}

.botao {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

#btn-iniciar:hover {
    background-color: #0056b3;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

/* segunda tela */

.primeira-tela {
    display: none;
    justify-content: space-around;
    align-items: center;
    height: 100vh;
}

.titulo {
    width: 50%;
}

.titulo h1 {
    font-size: 36px;
    font-family: Righteous, sans-serif;
    font-weight: 100;
}

.titulo h2 {
    width: 80%;
    font-size: 20px;
    font-family: Lexend, sans-serif;
    font-weight: 400;
}

.btns {
    margin-top: 40px;
}

.btns button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.calc-gif {
    width: 400px;
}

/* terceira parte */
.desafios {
    width: 100vw;
    height: 100vh;
    background-color: #F6E6D9;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;
    display: none;
}

.level2 {
    /* display: flex; */
    display: none;
    width: 100vw;
    height: 100vh;
    background-color: #F6E6D9;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 9999;

}

#totalQuestions {
    margin-left: 00px;
    margin-bottom: 15px;
}

#total {
    padding: 10px 14px;
    background-color: #fff;
    border-radius: 50%;
    font-size: 12px;
}

.quis {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
}

.resposta {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.positivo,
.negativo {
    cursor: pointer;
    transition: all 3s ease-in-out;
}

.positivo:hover,
.negativo:hover {
    border: 1px solid #0056b3;
    transition: all 0.3s ease-in-out;

}

.card {
    width: 300px;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 10px;
}

.card2 {
    width: 400px;
    padding: 15px 20px;
    background-color: #fff;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
}

.heart {
    position: absolute;
    top: 20px;
    right: 20px;
    display: flex;
    align-items: center;
}

.level {
    position: absolute;
    top: 20px;
    left: 20px;
}

#msg, #msg2 {
    padding: 5px 10px;
    background-color: green;
    color: white;
    border-radius: 10px;
    display: none;
}

.modal-box {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.venceu,
.proximo {
    position: fixed;
    display: none;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    max-width: 400px;
    width: 100%;
}

.modal-box h2 {
    font-size: 24px;
    margin-top: 10px;
}

.venceu h2 {
    font-size: 24px;
    margin-top: 10px;
}

.modal-box h3 {
    font-size: 18px;
    margin-top: 10px;
}

.venceu h3 {
    font-size: 18px;
    margin-top: 10px;
}

 .buttons {
    margin-top: 20px;
}

.venceu .buttons {
    margin-top: 20px;
}

 .buttons button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s;
}

.venceu .buttons button {
    padding: 10px 20px;
    font-size: 16px;
    margin: 0 10px;
    cursor: pointer;
    border: none;
    border-radius: 5px;
    background-color: #3498db;
    color: white;
    transition: background-color 0.3s;
}

.modal-box .buttons button:hover {
    background-color: #2980b9;
}

.venceu.buttons button:hover {
    background-color: #2980b9;
}

.close-btn {
    background-color: #e74c3c;
}

.close-btn:hover {
    background-color: #c0392b;
}

.modal-resultado {
    display: none;
    position: fixed;
    z-index: 9999;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    overflow: auto;
    justify-content: center;
    align-items: center;
}

.modal-content-resultado {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.close-btn-resultado {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close-btn-resultado:hover,
.close-btn-resultado:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}


.correct {
    background-color: green !important;
    color: white !important;
}

.wrong {
    background-color: red !important;
    color: white !important;
}
